#vscode files
.vscode
.vs

# Prerequisites
*.d

# Object files
*.ko
*.elf
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch

#temporary folders
ImGui/
ImPlot/
Libraries/
tmplib/
scripts/mingw64/

#sandbox and TGEP
libTGEP.a
build/Sandbox/
sandbox.exe


